<style>
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
</style>
body{
    background-color: cornsilk;
}
.first{
    font-family: 'Edu AU VIC WA NT Pre';
}
.second{

}
.third{
 width: 20px;
}
.font{
font-family: monospace;
}